version: "3"
services:
    bashbot:
        build: 
            context: .
            dockerfile: dockerfiles/bashbot.Dockerfile
        volumes:
          - ./database:/database
        env_file: ./tokens 
        restart: unless-stopped
    builder:
        build:
            context: .
            dockerfile: dockerfiles/builder.Dockerfile
        volumes:
          - .:/bashbot
          - /var/run/docker.sock:/var/run/docker.sock
