version: "3"
services:
    bashbot:
        build: 
            context: .
            dockerfile: dockerfiles/bashbot.Dockerfile
        volumes:
          - ./data:/data
        env_file: builder/.tokens 
        restart: always
    builder:
        build:
            context: .
            dockerfile: dockerfiles/builder.Dockerfile
        volumes:
          - .:/bashbot
          - /var/run/docker.sock:/var/run/docker.sock
